<cds-navbar-dropdown position="center" heading="Normal">
  <cds-navbar-dropdown-item heading="Navbar Item Full"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
    icon-color="secondary">
  </cds-navbar-dropdown-item>
  <div class="pt-3"></div>
  <cds-navbar-dropdown-item heading="Navbar Item Full"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
    icon-color="secondary">
  </cds-navbar-dropdown-item>
  <div class="pt-3"></div>
  <cds-navbar-dropdown-item heading="Navbar Item Full"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
    icon-color="secondary">
  </cds-navbar-dropdown-item>
</cds-navbar-dropdown>