// $icon-dimensions: 1.5rem;
// $icon-dimensions-small: 1rem;
// $icon-dimensions-medium: 2rem;
// $icon-dimensions-large: 3rem;

cds-icon {
  display: flex;

  .cds-icon-img-svg {
    height: 100%;
    width: 100%;
  }
  height: $size-normal * 1.5;
  width: $size-normal * 1.5;

  &.is-small {
    height: $size-normal;
    width: $size-normal;
  } 
  &.is-medium {
    height: $size-normal * 2;
    width: $size-normal * 2;
  }
  &.is-large {
    height: $size-normal * 3;
    width: $size-normal * 3;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
  
    &.has-text-#{$name} {
      fill: $color;
    }
  }
}

