$loading-indicator-size-sm: 2rem;
$loading-indicator-size: 3rem;
$loading-indicator-size-md: 4rem;
$loading-indicator-size-lg: 5rem;

cds-loading-indicator {
  .loading-indicator {
    position: relative;

    &.show {
      .loading-indicator-slot {
        z-index: 1;
        filter: blur(2px);
        pointer-events: none;
        user-select: none;
      }
    }

    // sizes
    &.is-small {
      .loading-indicator-loader {
        width: $loading-indicator-size-sm;
        height: $loading-indicator-size-sm;
      }
    }

    &.is-medium {
      .loading-indicator-loader {
        width: $loading-indicator-size-md;
        height: $loading-indicator-size-md;
        border-width: 6px;
      }
    }

    &.is-large {
      .loading-indicator-loader {
        width: $loading-indicator-size-lg;
        height: $loading-indicator-size-lg;
        border-width: 8px;
      }
    }

    // Colors
    @each $name,
    $pair in $colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);

      &.is-#{$name} {

        .loading-indicator-loader {
          // border-color: rgba($color, .15);
          border-top-color: $color;
        }
      }

      &.is-white {
        .loading-indicator-loader {
          border-color: transparent;
          border-top-color: $white;
        }
      }

      &.is-light {
        .loading-indicator-loader {
          border-color: transparent;
          border-top-color: $light;
        }
      }
    }

    // fullscreen
    &.fullscreen {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba($black, .85);
      z-index: 99999;
    }

    // show
    &:not(.show) {
      pointer-events: none;
      background-color: transparent;

      .loading-indicator-inner {
        display: none;
      }
    }

    // blur content
    &.blur-content {
      .loading-indicator-inner {
        position: absolute;
        padding: $spacing-xs $spacing-sm;
        background-color: $white;
        border-radius: $radius;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        box-shadow: $ds-box-shadow;
      }
    }
  }

  .loading-indicator-loader {
    width: $loading-indicator-size;
    height: $loading-indicator-size;
    border: 4px solid $grey-lightest;
    border-radius: 50%;
    border-top-color: $dark;
    animation: spinner 1s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}