<cds-navbar logo-image="/assets/images/logo.svg" logo-link="/">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Doc
      </a>

      <cds-navbar-dropdown position="center" heading="Normal">
        <cds-navbar-dropdown-item heading="Navbar Item Full"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
          icon-color="secondary">
        </cds-navbar-dropdown-item>
        <div class="pt-3"></div>
        <cds-navbar-dropdown-item heading="Navbar Item Full"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
          icon-color="secondary">
        </cds-navbar-dropdown-item>
        <div class="pt-3"></div>
        <cds-navbar-dropdown-item heading="Navbar Item Full"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
          icon-color="secondary">
        </cds-navbar-dropdown-item>
      </cds-navbar-dropdown>


      <cds-navbar-dropdown position="center" heading="Large" size="large">
        <cds-columns>
          <cds-column>
            <div>
              <cds-navbar-dropdown-item heading="Navbar Item Full"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
                icon-color="secondary">
              </cds-navbar-dropdown-item>

              <div class="pt-3"></div>
              <cds-navbar-dropdown-item heading="Navbar Item Full"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
                icon-color="secondary">
              </cds-navbar-dropdown-item>
            </div>
          </cds-column>
          <cds-column>
            <div>
              <cds-navbar-dropdown-item heading="Navbar Item Full"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
                icon-color="secondary">
              </cds-navbar-dropdown-item>
              <div class="pt-3"></div>
              <cds-navbar-dropdown-item heading="Navbar Item Full"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
                icon-color="secondary">
              </cds-navbar-dropdown-item>
            </div>
          </cds-column>
        </cds-columns>
      </cds-navbar-dropdown>


      <cds-navbar-dropdown position="center" heading="Full Width" size="fullwidth">
        <cds-columns>
          <cds-column>
            <cds-navbar-dropdown-item heading="Navbar Item Full"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
              icon-color="secondary">
            </cds-navbar-dropdown-item>
          </cds-column>
          <cds-column>
            <cds-navbar-dropdown-item heading="Navbar Item Full"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
              icon-color="secondary">
            </cds-navbar-dropdown-item>
          </cds-column>
          <cds-column>
            <cds-navbar-dropdown-item heading="Navbar Item Full"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
              icon-color="secondary">
            </cds-navbar-dropdown-item>
          </cds-column>
          <cds-column>
            <cds-navbar-dropdown-item heading="Navbar Item Full"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit." link="#" icon="check-circle"
              icon-color="secondary">
            </cds-navbar-dropdown-item>
          </cds-column>
        </cds-columns>
      </cds-navbar-dropdown>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <cds-buttons>
          <cds-button color="primary">Log in</cds-button>
          <cds-button color="light">Sign up</cds-button>
        </cds-buttons>
      </div>
    </div>
  </div>
</cds-navbar>