<cds-carousel class="column is-full is-paddingless" show-prev-next="true" show-pagination="true"
  carousel-type="default">
  <cds-card class="slide">
    <cds-card-content>
      <h2>Test heading</h2>
      <h3>Test title</h3>
      Test content 1
    </cds-card-content>
  </cds-card>
  <cds-card class="slide">
    <cds-card-content>
      <h2>Test heading</h2>
      <h3>Test title</h3>
      Test content 2
    </cds-card-content>
  </cds-card>
  <cds-card class="slide">
    <cds-card-content>
      <h2>Test heading</h2>
      <h3>Test title</h3>
      Test content 3
    </cds-card-content>
  </cds-card>
</cds-carousel>