<cds-accordion
  icon-align="right"
  open-multiple-items="false">
  <cds-accordion-item drawer-title="Title A">
    Here is some content for the accordion.
  </cds-accordion-item>
  <cds-accordion-item drawer-title="Title B">
    Here is some content for the accordion. <a href="http://google.com">Link</a>
  </cds-accordion-item>
  <cds-accordion-item drawer-title="Title C">
    Here is some content for the accordion. <cds-button color="primary">Button</cds-button>
  </cds-accordion-item>
</cds-accordion>
